﻿@model List<UserViewModel>
@{
    ViewData["Title"] = "Users";
    Layout = "_Layout";
}
<h1>@ViewData["Title"]</h1>
<div class="row">

    <div class="col-md-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Email </th>
                    <th>Role </th>
                    <th>Actions</th>
                </tr>
            </thead>
            @foreach (var d in Model)
            {
                <tr>
                    <td>@d.Email</td>
                    <td>@d.RoleId</td>
                    <td> @Html.ActionLink("Edit", "Update", "User", new { id = d.Id })</td>
                </tr>

            }
        </table>
    </div>
</div>
