﻿@model CategoryViewModel
@{
    ViewData["Title"] = "Categories";
    Layout = "_Layout";
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-6">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group dropdown">
                    <label asp-for="Roles"></label>
                    @Html.DropDownListFor(model => model.RolId,
                         new SelectList(Model.Roles, "RolId", "Description"), new { @class = "dropdown-item" })
                </div>
                <br />
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </section>
    </div>
</div>
