﻿@model List<CategoryViewModel>
@{
    ViewData["Title"] = "Categories";
    Layout = "_Layout";
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    
    <div class="form-group">
        @Html.ActionLink("New", "Create", "Category", new { @class= "btn btn-primary"})
    </div>
    <div class="col-md-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Description </th>
                    <th>Role </th>
                    <th>Actions</th>
                </tr>
            </thead>
            @foreach (var d in Model)
            {
                <tr>
                    <td>@d.Id</td>
                    <td>@d.Description</td>
                    <td> @Html.ActionLink("Edit", "Create", "Category", new { id = d.Id})</td>
                </tr>

            }
        </table>
    </div>
</div>
